body {
    color: white;
    font-family: 'Inconsolata', sans-serif;
    font-size: 12px;
    background-color: black;
}

.link {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: darkorange ;
}

#cursor {
    background-color: white;
    color: black;
}

#cursor.blink {
    background-color: black;
    color: white;
}
