body {
    color: white;
    font-family: 'Inconsolata', sans-serif;
    font-size: 12px;
    background-color: black;
}

.link {
    color: lime;
    text-decoration: none;
}

.link:hover {
    color: lightgreen;
    text-decoration: underline;
}

#cursor {
    background-color: white;
    color: black;
}

#cursor.blink {
    background-color: black;
    color: white;
}
