body {
    color: white;
    font-family: 'Inconsolata', sans-serif;
    font-size: 12px;
    background-color: black;
}

.link {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: green;
}

.cursor {
    text-decoration: blink;
    background-color: white;
}

.cursor.blink {
    visibility: hidden;
}
